rdkit==2023.03.2
scikit-learn==1.2.2
numpy==1.24.3
pandas==1.5.3
seaborn==0.12.2
matplotlib==3.4.3
mljar-supervised
scikit-plot==0.3.7
scipy==1.11.4
mordred==1.2.0
streamlit-option-menu==0.3.6
streamlit-ketcher==0.0.1
