rdkit-pypi==2022.9.5
scikit-learn==1.2.2
mljar-supervised==1.1.0
numpy==1.24.3
pandas==2.0.0
seaborn==0.12.2
matplotlib
mordred==1.2.0
streamlit-option-menu==0.3.6
streamlit-ketcher==0.0.1
scipy==1.11.4
lightgbm>=4.0.0
